html, body{
    font-family: Roboto, sans-serif;
/*    font-size: 15px; 
/*    line-height: 1.5; */
    margin-left: 5%;
}

h1,h2,h3,h4,h5,h6{
    font-weight:400;
}

h1 {
    font-size : 1.6em;
}

h2 {
    font-size : 1.4em;
    font-style: italic;
}

h3 {
    font-size : 1.2em;
    font-style: italic;
}

body {
    color	    : darkgrey;
    background-color: black;
    font-family     :"Roboto",sans-serif;
    font-size       :18px;
    line-height     :31px;
}

/* links */
a:link  {
    color	    : lightblue;
    background-color: transparent;
}

a:visited{
    color	    : darkcyan;
    background-color: transparent;
}

a:hover{
    color	    : red;
    background-color: transparent;
    text-decoration : underline;
}

a:active{
    color	    : yellow;
    background-color: transparent;
    text-decoration : underline;
}

p {
    text-indent: 30px;
    text-align: justify;
}

/* Esto no queda bien @_@
ul, ol {
    text-indent: 30px;
    text-align: justify;
}
*/

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}




